.flair {
height:70px;
width:79px;
cursor:pointer;
border:3px solid transparent;
background-clip:padding-box;
background-size: contain;
display: inline-block;
}

#show-base {
  display: none;
}

@media only screen and (min-width: 1921px) {
  .flair {
    height:78px;
    width:89px;
  }
  .eza:before {
    height:18px!important;
    width:20px!important;
    right:6px!important;
  }
  .eza2:before {
    height:24px!important;
    width:28px!important;
    right:4px!important;
  }
}

@media only screen and (max-width: 760px) {
  .flair {
    height:48px;
    width:55px;
  }
  .eza:before {
    height:12px!important;
    width:13px!important;
    right:2px!important;
  }
  .eza2:before {
    height:17px!important;
    width:20px!important;
    right:2px!important;
  }
}

.disabled, .hidden {
  display: none;
}

.eza:before {
content:"";
display:block;
height: 16px;
width: 18px;
background:url(../images/eza.webp);
position:absolute;
bottom:0;
right:4px;
background-size:contain;
}

div.eza, div.eza2 {
position:relative;
}

.eza2:before {
content:"";
display:block;
height: 22px;
width: 26px;
background:url(../images/eza2.webp);
position:absolute;
bottom:-1px;
right:3px;
background-size:contain;
}
